{{ template "bash-script.tmpl" . }}

# https://www.microsoft.com/en-us/microsoft-teams/group-chat-software

{{ if not .headless }}
{{   if eq .chezmoi.hostname "arch" }}

{{   else if eq .chezmoi.hostname "debian" }}

{{   else if eq .chezmoi.hostname "macos" }}
brew install --cask microsoft-teams
{{   end }}
{{ end }}
