{{ template "bash-script.tmpl" . }}

# https://www.virtualbox.org/

{{ if not .headless }}
{{   if eq .chezmoi.hostname "arch" }}

{{   else if eq .chezmoi.hostname "debian" }}

{{   else if eq .chezmoi.hostname "macos" }}
brew install --cask virtualbox
{{   end }}
{{ end }}
