{{ template "bash-script.tmpl" . }}

# https://nodejs.org/

{{ if eq .chezmoi.hostname "arch" }}

{{ else if eq .chezmoi.hostname "debian" }}

{{ else if eq .chezmoi.hostname "macos" }}
brew install node
{{ end }}
