{{/* boolean feature flags */}}
{{ $headless := false }}
{{/* end boolean featrue flags */}}

{{ if eq .chezmoi.hostname "arch" }}
{{ else if eq .chezmoi.hostname "macos" }}
{{ else }}
{{   $headless = true }}
{{ end }}

{{ $osId := .chezmoi.os }}
{{ if hasKey .chezmoi.osRelease "id" }}
{{   $osId = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id }}
{{ end }}

[data]
    headless = {{ $headless }}
    osId = {{ $osId | quote }}
